.sidebar {
  margin-left: 0;
}

.sidebar > img {
  width: 25rem;
}
.sidebar__storage {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #fff;
  padding: 20px 0;
  border-radius: 10px;
  margin-top: 1rem;
}
.sidebar__piechart {
  margin-left: -20px;
}
.sidebar__storage h2 {
  margin-right: 40px;
  margin-bottom: 10px;
}

.sidebar__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single__line {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
}

.half__width {
  width: 50vw;
  margin-top: 30px;
}
.half__width form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.half__width input {
  width: 85%;
  padding: 10px;
  border: none;
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.199);
  font-size: 18px;
  outline: none;
}
.half__width button {
  padding: 12px 30px;
}

.all__filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  grid-auto-rows: 50px;
  gap: 20px;
}
.single__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 1rem;
  height: 45px;
  border-radius: 10px;
}

.progress {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.progress__container {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
}
.progress__icon {
  font-size: 2rem;
  padding: 10px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 5px;
}
progress {
  width: 20.5rem;
}
