.headerOption {
	display: flex;

	align-items: center;

	margin-right: 20px;
	color: #636363;
	cursor: pointer;
	padding-bottom: 5px;
	margin-top: 10px;
}
.headerOption__title {
	font-size: 12px;
	padding-left: 10px;
}

.headerOption__icon {
	object-fit: contain;
	height: 25px !important;
	width: 25px !important;
}
.headerOption:hover {
	color: #121212;
	border-bottom: #1e8ebb solid 2px;
}
