.users {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folder__cards {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-auto-rows: 150px;
  gap: 20px;
}
.folder__card {
  height: 100px;
  /* width: 165px; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
}

.folder__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.folder__icon {
  font-size: 2.5rem;
}
.folder__options {
  font-size: 1.5rem;
  cursor: pointer;
}
.folder__icons img {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.activate__deactivate {
  margin-top: 0;
  padding: 5px 10px;
}
