.inputOption {
	display: flex;
	align-items: center;
	padding: 14px 14px;
}
.inputOption > h6 {
	margin-left: 5px;
	font-size: 10px;
	font-family: "Sora", sans-serif;
}

.inputOption:hover {
	background-color: #f3f2ef;
	cursor: pointer;
	border-radius: 40px;
}
.inputOptionSend {
	display: flex;
	align-items: center;
	padding: 14px 14px;
	background-color: #0080b4;
	border-radius: 40px;
}
.inputOptionSend:hover {
	background-color: #015e83;
	cursor: pointer;
	border-radius: 40px;
}
