.inputOption {
	display: flex;
	align-items: center;
	padding: 8px 14px;
}
.inputOption > h6 {
	margin-left: 5px;
	font-family: "Sora", sans-serif;
}

.inputOption:hover {
	background-color: #f3f2ef;
	cursor: pointer;
	border-radius: 10px;
}
