.signup {
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.signup__logo {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.signup__brand {
	object-fit: contain;
	height: 60px;
}
.signup__logo > h1 {
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 30px;
}
.signup__form > form {
	display: flex;
	flex-direction: column;
}
.signup__form > p {
	font-size: 1rem;
	font-weight: 500;
	margin-top: 10px;
}
.signup__form > span {
	color: #0080b4;
	font-size: 1rem;
	font-weight: 500;
}
.signup__form {
	padding: 25px 25px;
	background-color: white;
	border-radius: 10px;
	text-align: center;
}
.signup__form > form > input {
	width: 350px;
	height: 50px;
	border-radius: 5px;
	font-size: 15px;
	margin-bottom: 10px;
	padding-left: 10px;
	border: 1px solid #121212;
}
button {
	padding: 15px 23px;
	background-color: #0080b4;
	border: none;
	color: white;
	font-size: 15px;
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
}
button:hover {
	background-color: #006080;
}

label {
	margin-bottom: 5px;
	text-align: left;
}
.signup__footer {
	height: 7vh;
	background-color: white;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.signup__footer > p {
	font-weight: 500;
}
.signup__link {
	text-decoration: none;
	color: #121212;
	cursor: pointer;
}
.signup__link:hover {
	text-decoration: underline;
}
.signup__link:visited {
	color: #121212;
}
