.post {
	background-color: white;
	border-radius: 10px;
	margin-bottom: 20px;
}
.post__profileSection {
	padding: 0 10px;
	padding-bottom: 0px;
	padding-top: 15px;
	display: flex;

	margin-bottom: 10px;
	border-radius: 10px;
	align-items: center;
}

.profileSection__details {
	margin-left: 10px;
}
.profileSection__details > p {
	font-size: 12px;
	margin-top: 3px;
	color: gray;
}
.post__messageSection {
	margin-top: 10px;
	border-radius: 10px;
}
.post__messageSection > p {
	padding: 0 20px;
	font-size: 14px;
}
.post__like {
	display: flex;
}
.post__messageSection > img {
	/* margin-top: 20px; */
	width: 100%;
	border-radius: 10px;
	height: auto;
	max-height: 250px;

	object-fit: cover;
}
.post__reviews {
	display: flex;
	padding: 10px 0;
	padding: 10px;
	justify-content: space-between;
	align-items: center;
}

.post__like > div > h4 {
	font-size: 12px;
}
.like {
	display: flex;
	align-items: center;
	padding: 0 10px;
	color: #0080b4;
}
.like:hover,
.comment:hover {
	background-color: rgb(241, 241, 241);
	border-radius: 10px;
	cursor: pointer;
}
.comment {
	display: flex;
	align-items: center;
	padding: 8px 20px;
	color: #ff9800;
}
.save {
	color: #f44336;
}
