.app {
	background-color: #f5f5f5;
	/* background-color: #fff; */
	display: flex;
	flex-direction: column;

	align-items: center;
	min-height: 100vh;
	width: 100%;
}
.app__body {
	margin-top: 30px;
	display: flex;
	justify-content: space-evenly;
	max-width: 80vw;
}
